.DS_Store
.idea
.ant_targets
.vagrant-provision
.vagrant
Vagrantfile

vendor
composer.phar
phpunit.xml

# this is the code coverage generated when running phpunit.
tests/log

# test temp folders
tests/tmp/source/*
!tests/tmp/source/.gitkeep
tests/tmp/dest/*
!tests/tmp/dest/.gitkeep
